.blogs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
}

.blogs-container .single-blog {
    border: 1px solid grey;
    border-radius: 3p;
    padding: 10px;
    margin: 0 10px;
    width: 30vw;
    text-align: left;
    
}
.blogs-container .title {
    font-size: 18px;
    font-weight: 600;
}
.blogs-container .content {
    padding: 10px 0;
}
.btn-add-new {
    cursor: pointer;
    margin: 10px 0;
}

.add-new-container {
    max-width: 600px;
    
    border: 1px solid gray;
    padding: 5px;
    margin: 0 auto;
    text-align: left;

}

.add-new-container .text-add-new {
    margin: 10px 0;
    text-align: center;
}

.add-new-container .inputs-data {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.add-new-container button {
    margin-left: 10px;
}